.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
}
.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, rgb(255, 238, 0) 26.71%, orange 99.36%);
  box-shadow: 0px 10px 24px 3px rgba(150, 104, 45, 0.42);
  
  border: 2px solid orange;

}
.button:hover{
  cursor: pointer;
  background: white;
  color: orange;
  border: 1px solid orange;
}
body::-webkit-scrollbar{
  display: none;
}